<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.technote">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/tech_note_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tech_note_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider android:name=".Database.ContentProviderPractics.MyContentProvider2" android:exported="true"
            android:readPermission="true" android:writePermission="true"
            android:authorities="com.example.technote.ContentProvider_Practics" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Layout.LinearLayout_Test"></activity>
        <activity android:name=".Layout.FrameLayout_Test"></activity>
        <activity android:name=".Layout.RelativeLayoutTest"></activity>
        <activity android:name=".Layout.TableLayout_Test"></activity>
        <activity android:name=".Layout.DrawerLayout_Test"></activity>
        <activity android:name=".Layout.ConstraintLayout_Test"></activity>
        <activity android:name=".Layout.ConstraintLayout_Analog_Test"></activity>
        <activity android:name=".Layout.CoordinatorLayout_Test"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".Dialog_Activity_Fragment.Activity_Screen_2"
            android:theme="@style/Screen_2">
        </activity>
        <activity android:name=".Dialog_Activity_Fragment.FirstActivity"></activity>
        <activity android:name=".Dialog_Activity_Fragment.SecondActivity"></activity>
        <activity android:name=".Dialog_Activity_Fragment.Dialog"></activity>
        <activity android:name=".Dialog_Activity_Fragment.Activity"></activity>

        <activity android:name=".Database.SQLiteTest"></activity>
        <activity android:name=".Database.SQLiteTest_2"></activity>
        <activity android:name=".Database.AddressBook"></activity>
        <activity android:name=".Database.AddAddress"></activity>
        <activity android:name=".Database.CallEvent"></activity>
        <activity android:name=".Database.RealCallLog_Test"></activity>
        <activity android:name=".Database.AddressRevise"></activity>
        <activity android:name=".Database.CallReceive"></activity>
        <activity android:name=".Database.CallLogTest"></activity>
        <activity android:name=".Dialog_Activity_Fragment.Activity_Screen_1"></activity>
        <activity android:name=".Database.ContentProviderExample.CountryEdit" android:label="@string/app_name" />
        <activity android:name=".Database.ContentProviderExample.ContentProviderTest"></activity>
        <activity android:name=".Database.ContentProviderPractics.ContentProviderTest2"></activity>
        <activity android:name=".Database.ContentProviderPractics.AddressEdit2"></activity>

        <activity android:name=".BLE.FastBle.FastBleMain"></activity>
        <activity android:name=".BLE.FastBle.operation.OperationActivity"></activity>
        <activity android:name=".BLE.Exam1.BleExam1_Main"/>
        <activity android:name=".BLE.Exam1.ControlActivity"></activity>

        <activity android:name=".GoogleMap.SensorActivity"></activity>
        <activity android:name=".GoogleMap.GoogleMapTest"></activity>
        <activity android:name=".GoogleMap.GoogleMapTest2"></activity>
        <activity android:name=".GoogleMap.AndroidDetOrientationActivity"></activity>
        <activity android:name=".GoogleMap.GoogleMapTest3"></activity>

        <service android:name=".BLE.Exam1.BluetoothLeService" android:enabled="true"/>
        <service android:name=".GoogleMap.GPSDataReceiveService"></service>

        <activity android:name=".Handler.HandlerEx"></activity>



    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


</manifest>