<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.technote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tech_note_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/tech_note_icon_round"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/AppTheme">
        <provider android:name=".TN_Database.ContentProviderPractics.MyContentProvider2" android:exported="true"
            android:readPermission="true" android:writePermission="true"
            android:authorities="com.example.technote.ContentProvider_Practics" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TN_Layout.LinearLayout_Test"></activity>
        <activity android:name=".TN_Layout.FrameLayout_Test"></activity>
        <activity android:name=".TN_Layout.RelativeLayoutTest"></activity>
        <activity android:name=".TN_Layout.TableLayout_Test"></activity>
        <activity android:name=".TN_Layout.DrawerLayout_Test"></activity>
        <activity android:name=".TN_Layout.ConstraintLayout_Test"></activity>
        <activity android:name=".TN_Layout.ConstraintLayout_Analog_Test"></activity>
        <activity android:name=".TN_Layout.CoordinatorLayout_Test"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".TN_Dialog_Activity_Fragment.Activity_Screen_2"
            android:theme="@style/Screen_2">
        </activity>
        <activity android:name=".TN_Dialog_Activity_Fragment.FirstActivity"></activity>
        <activity android:name=".TN_Dialog_Activity_Fragment.SecondActivity"></activity>
        <activity android:name=".TN_Dialog_Activity_Fragment.Dialog"></activity>
        <activity android:name=".TN_Dialog_Activity_Fragment.MyActivity"></activity>
        <activity android:name=".TN_Dialog_Activity_Fragment.MyTab_ViewPager.MyTab_ViewPager"></activity>

        <activity android:name=".TN_Database.SQLiteTest.SQLiteTest"></activity>
        <activity android:name=".TN_Database.SQLiteTest.SQLiteTest_2"></activity>
        <activity android:name=".TN_Database.SQLiteTest.AddressBook"></activity>
        <activity android:name=".TN_Database.SQLiteTest.AddAddress"></activity>
        <activity android:name=".TN_Database.SQLiteTest.CallEvent"></activity>
        <activity android:name=".TN_Database.RealCallLog_Test"></activity>
        <activity android:name=".TN_Database.SQLiteTest.AddressRevise"></activity>
        <activity android:name=".TN_Database.SQLiteTest.CallReceiveScreen"></activity>
        <activity android:name=".TN_Database.SQLiteTest.CallLogTest"></activity>
        <activity android:name=".TN_Dialog_Activity_Fragment.Activity_Screen_1"></activity>
        <activity android:name=".TN_Database.ContentProviderExample.CountryEdit" android:label="@string/app_name" />
        <activity android:name=".TN_Database.ContentProviderExample.ContentProviderTest"></activity>
        <activity android:name=".TN_Database.ContentProviderPractics.ContentProviderTest2"></activity>
        <activity android:name=".TN_Database.ContentProviderPractics.AddressEdit2"></activity>

        <activity android:name=".TN_BLE.FastBle.FastBleMain"></activity>
        <activity android:name=".TN_BLE.FastBle.operation.OperationActivity"></activity>
        <activity android:name=".TN_BLE.Exam1.BleExam1_Main"/>
        <activity android:name=".TN_BLE.Exam1.ControlActivity"></activity>

        <activity android:name=".TN_GoogleMap.BLEDeviceMesiPlus_And_GoogleMap.MesiPlusGoogleMapTestMain"></activity>
        <activity android:name=".TN_GoogleMap.GoogleMapTest"></activity>
        <activity android:name=".TN_GoogleMap.Sample.AutoCompletePlaceSample"></activity>
        <activity android:name=".TN_GoogleMap.Sample.MapsActivityCurrentPlace"></activity>

        <activity android:name=".TN_Network.NetworkAPI_Library.OKHttpExample"></activity>
        <activity android:name=".TN_Network.NetworkAPI_Library.VolleyExample"></activity>
        <activity android:name=".TN_Network.NetworkAPI_Library.FANExample"></activity>
        <activity android:name=".TN_Network.NetworkAPI_Library.AndroidAsyncHttpExample"></activity>
        <activity android:name=".TN_Network.NetworkAPI_Library.RetrofitExamples.RetrofitExample"></activity>
        <activity android:name=".TN_Network.NetworkAPI_Library.RestAPIExample"></activity>
        <activity android:name=".TN_Network.BoardMain"></activity>
        <activity android:name=".TN_Network.BoardUpload_Video"></activity>
        <activity android:name=".TN_Network.BoardContent_Image"></activity>
        <activity android:name=".TN_Network.BoardContent_Video"></activity>
        <activity android:name=".TN_Network.BoardContent_Image_ZoomIn"></activity>
        <activity android:name=".TN_Network.BoardUpload_Image"></activity>

        <activity android:name=".TN_Thread.HandlerEx"></activity>
        <activity android:name=".TN_Thread.MyAsyncTaskExample_1"></activity>
        <activity android:name=".TN_Thread.MyAsyncTaskExample_2"></activity>
        <activity android:name=".TN_Thread.ThreadNetworkExample_1"></activity>

        <activity
            android:configChanges="orientation|screenSize"
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />


        <service android:name=".TN_BLE.Exam1.BluetoothLeService" android:enabled="true"/>
        <service android:name=".TN_GoogleMap.BLEDeviceMesiPlus_And_GoogleMap.GPSDataReceiveService"></service>
        <service android:name=".TN_GoogleMap.GPSInfo"></service>

    </application>

    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>